asttokens
colorama
comm
debugpy
decorator
executing
ipykernel
ipython
ipython-pygments-lexers
jedi
jupyter-client
jupyter-core
matplotlib-inline
nest-asyncio
packaging
parso
platformdirs
prompt-toolkit
psutil
pure-eval
pygments
python-dateutil
pyzmq
six
stack-data
tornado
traitlets
wcwidth
Automat
Bottleneck
Brotli
Deprecated
GitPython
HeapDict
Mako
MarkupSafe
PyDispatcher
PyGithub
PyJWT
PyNaCl
PyQt5
PyQt5-sip
PyQtWebEngine
PySocks
PyYAML
QDarkStyle
QtAwesome
QtPy
Rtree
SQLAlchemy
Scrapy
Send2Trash
Unidecode
aext-assistant
aext-assistant-server
aext-core
aext-core-server
aext-environments-server
aext-panels
aext-panels-server
aext-project-filebrowser-server
aext-share-notebook
aext-share-notebook-server
aext-shared
aext-toolbox
aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
alembic
altair
anaconda-anon-usage
anaconda-auth
anaconda-catalogs
anaconda-cli-base
anaconda-client
anaconda-navigator
anaconda-project
annotated-types
anyio
appdirs
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
async-lru
asyncssh
atomicwrites
attrs
autopep8
babel
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
botocore
cachetools
certifi
cffi
chardet
charset-normalizer
chromedriver-autoinstaller
click
cloudpickle
colorcet
conda
conda-anaconda-telemetry
conda-anaconda-tos
conda-build
conda-content-trust
conda-index
conda-libmamba-solver
conda-pack
conda-package-handling
conda-package-streaming
conda-repo-cli
conda-token
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
dask-expr
datashader
defusedxml
diff-match-patch
dill
distributed
distro
docstring-to-markdown
docutils
et-xmlfile
evalidate
fastjsonschema
filelock
flake8
flask
fonttools
frozendict
frozenlist
fsspec
gitdb
gmpy2
greenlet
h11
h5py
holoviews
httpcore
httpx
hvplot
hyperlink
idna
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jellyfish
jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keyring
kiwisolver
lazy-loader
lckr-jupyterlab-variableinspector
libarchive-c
libmambapy
lief
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
markdown
markdown-it-py
matplotlib
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
mkl-fft
mkl-random
mkl-service
more-itertools
mpmath
msgpack
multidict
multipledispatch
mypy
mypy-extensions
narwhals
navigator-updater
nb-conda-kernels
nbclient
nbconvert
nbformat
networkx
nltk
notebook
notebook-shim
numba
numexpr
numpy
numpydoc
openpyxl
outcome
overrides
pandas
pandocfilters
panel
param
parsel
partd
pathspec
patsy
pexpect
pickleshare
pillow
pip
pkce
pkginfo
plotly
pluggy
ply
poyo
prometheus-client
propcache
protego
protobuf
ptyprocess
py4j
pyOpenSSL
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydantic-core
pydantic-settings
pydocstyle
pyerfa
pyflakes
pylint
pylint-venv
pyls-spyder
pyodbc
pyparsing
pyspark
pytest
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytoolconfig
pytz
pyuca
pyviz-comms
pywavelets
pywin32
pywin32-ctypes
pywinpty
qstylizer
qtconsole
queuelib
readchar
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
roman-numerals-py
rope
rpds-py
ruamel.yaml
ruamel.yaml.clib
ruamel-yaml-conda
s3fs
scikit-image
scikit-learn
scipy
seaborn
selenium
semver
sentry-sdk
service-identity
setuptools
shellingham
sip
sklearn-compat
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
statsmodels
streamlit
superqt
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
toml
tomli
tomlkit
toolz
tqdm
trio
trio-websocket
truststore
twisted
twisted-iocpsupport
typer
typing-extensions
tzdata
uc-micro-py
ujson
undetected-chromedriver
urllib3
w3lib
watchdog
webencodings
websocket-client
websockets
werkzeug
whatthepatch
wheel
widgetsnbextension
win-inet-pton
wrapt
wsproto
xarray
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
autocommand
backports.tarfile
importlib-resources
inflect
jaraco.text
ordered-set
typeguard
